<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Ajax Demo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"  crossorigin="anonymous">
  </head>
  <body>
    <h1>Demo 1 - JSON VS HTML</h2>
    <button id='button_json' class='btn btn-primary'>Fetch HttpResponse from first_app/all.json</button>
    <button id='button_html' class='btn btn-primary'>Fetch HttpResponse from first_app/all.html</button>
    <div id='placeholder1' style='margin-top:35px; border:1px solid silver; width:750px; padding:10px;'>
      Placeholder for the Ajax Response
    </div>
    <script>
      $('#button_json').click(function(){
        console.log('button_json is clicked!')
        $.ajax({
          url: '/first_app/all.json', 
          success: function(serverResponse) {
            console.log('success. serverResponse:', serverResponse)
            $('#placeholder1').html(JSON.stringify(serverResponse))
          }
        })
      });

      $('#button_html').click(function(){
        console.log('button_html is clicked!')
        $.ajax({
          url: '/first_app/all.html',
          success: function(serverResponse) {
            console.log('success. serverResponse:', serverResponse)
            $('#placeholder1').html(serverResponse)
          }
        })
      })
    </script>

    <h1>Demo 2 - Ajax Form</h1>
    <form action="/first_app/find" method="POST">
      {% csrf_token %}
      Find all users whose first name starts with: 
      <input type="text" name="first_name_starts_with" id="ajax_first_name">
    </form>

    <div id="placeholder2" style='margin-top:35px; border:1px solid silver; width:750px; padding:10px;'>Placeholder 2</div>

    <script>
      $('#ajax_first_name').keyup(function(){
        console.log('came here')
        console.log("parent's serialize() returned", $(this).parent().serialize())
        $.ajax({
          url: '/first_app/find',
          method: 'post',
          data: $(this).parent().serialize(),
          success: function(serverResponse){
            console.log('success', serverResponse)
            $('#placeholder2').html(serverResponse)
          }
        });
      });
    </script>
  </body>
</html>